{% extends '_layouts/global' %}

{% block site %}

    <div class="w-full h-[5000vh] bg-black">

        <div class="w-full h-screen fixed top-0 left-0 z-0 pointer-events-none | js-three-wrapper"></div>

    </div>

{% endblock %}