{%- minify -%}

   <!doctype html>
   <html class="no-js" lang="{{ craft.app.language|slice(0,2) }}">
      <head>

         <meta charset="utf-8">
         <meta http-equiv="x-ua-compatible" content="ie=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         {# Fonts #}
         {{ include ('_components/fonts', ignore_missing = true) }}

         {# CSS / JS #}
         {{ craft.vite.script('/src/index.js', false) }}

         {# Favicons #}
         {{ craft.vite.inline('@webroot/dist/favicons/webapp.html') }}

         {# AlpineJS "blip" Fix #}
         <style>[x-cloak] { display: none; }</style>

         <script src="https://kit.fontawesome.com/500216e0fa.js" crossorigin="anonymous"></script>

         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

      </head>

      <body class="scroll-smoother">

         {% block body %}{% endblock %}

      </body>

   </html>

{%- endminify -%}